.grid {
  width: 400px;
  height: 600px;
  background-image: url('./assets/background.png');
  position: relative;
  /*font-size: 100px;*/
  text-align: center;
  overflow: hidden;
}

.doodler {
  /*width: 87px;
  height: 85px;*/
  width: 60px;
  height: 60px;
  background-image: url('./assets/doodler-guy.png');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  /*width: 50px;*/
  /*height: 50px;*/
}

.platform {
  /*width: 85px;*/
  width: 60px;
  /*height: 15px;*/
  height: 11px;
  background-image: url('./assets/platform.png');
  background-size: contain;
  position: absolute;
  font-size: 16px;
}

.game-over {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 94px;
  line-height: 1;
}

.game-over button {
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

button {
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  padding: 10px 20px;
}

button:hover,
button:focus {
  outline: 0;
  border: 2px solid black;
}

/*.ball {
  background: #ff5733;
  border-radius: 50%;
  transform-origin: bottom center;
  transition: transform 0.2s ease;

  width: 50px;
  height: 50px;
}

.ball.squish {
  transform: scaleX(1.3) scaleY(0.7);
}*/

.score {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  background: white;
  padding: 0 6px;
  border-radius: 6px;
}

.splash-screen {
  display: none;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-screen.display {
  display: flex;
}

.splash-screen button {
  margin-top: 20px;
}

h1 {
  font-size: 46px;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
}

.high-score {
  position: relative;
  z-index: 20;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  background: white;
  padding: 4px 10px;
  border-radius: 6px;
  line-height: 1.5;
}
