.grid {
  width: 400px;
  height: 600px;
  background-image: url('./assets/background.png');
  position: relative;
  font-size: 100px;
  text-align: center;
  overflow: hidden;
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url('./assets/doodler-guy.png');
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  /*transition: transform 0.05s linear;*/
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('./assets/platform.png');
  position: absolute;
}

.game-over {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 94px;
  line-height: 1;
}
